<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
        "-//Oracle Corporation//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>taskr</servlet-name>
        <servlet-class>com.onix.taskr.web.TaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>create</servlet-name>
        <servlet-class>com.onix.taskr.web.CreateTaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>create</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>taskr</servlet-name>
        <url-pattern>/taskr</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>taskr.jsp</welcome-file>
    </welcome-file-list>
</web-app>